<!DOCTYPE html>
<html>

<head>
<title>HomePage</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>


<body>
<div class="w3-container">
  <h1 style="display:inline">DRUNKME&nbsp;</h1>
  {% if request.user.is_active %}
  <p style="display:inline">Connect as {{ user.username }} </p>
  <p style="display:inline"><a href='{% url 'logout' %}'>Logout</a></p>
  {% else %}
  <p style="display:inline"><a href='{% url 'login' %}'>Login</a></p>  
  {% endif %}

  
  <div class="w3-row">
    <a href="javascript:void(0)" onclick="Home(event, 'Event');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">EVENT</div>
    </a>
    <a href="javascript:void(0)" onclick="Home(event, 'Promotion');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">PROMOTION</div>
    </a>
    <a href="javascript:void(0)" onclick="Home(event, 'Happyhours');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">HAPPYHOURS</div>
    </a>
  </div>

  <div id="Event" class="w3-container city" style="display:none">
    <center>
    {% for i in event %}
    <h2>{{i.name}}</h2>
    <a href='{% url 'event' i.id %}'>
    <img src="{{i.image.url}}" height="300" width="500" >
    </a>  
    <p>Content : {{i.content}}</p>
    <p>___________________________________________________________</p>
    {% endfor %}
    </center>
  </div>

  <div id="Promotion" class="w3-container city" style="display:none">
    <center>
    {% for i in bar %}
    {% if i.promotion %}
    <h2>{{ i.name}}</h2>
    <a href='{% url 'detail' i.id  %}'>
    <img src="{{i.logo.url}}" height="300" width="500">
    </a>
    <p>Promotion : {{ i.promotion}}</p>
    <p>___________________________________________________________</p>
    {% endif %}
    {% endfor %}
    </center>
  </div>

  <div id="Happyhours" class="w3-container city" style="display:none">
    <center>
    {% for i in bar %}
    {% if i.happyhours %}
    <h2>{{ i.name}}</h2>
    <a href='{% url 'detail' i.id  %}'>
    <img src="{{i.logo.url}}" height="300" width="500">
    </a>
    <p>Happyhours : {{ i.happyhours}}</p>
    <p>___________________________________________________________</p>
    {% endif %}
    {% endfor %}
    </center>
  </div>
</div>

<script>
function Home(evt, Menu) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
  }
  document.getElementById(Menu).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-border-red";
}



</script>

</body>
</html>