<!DOCTYPE html>
<html>
<head>
<title>Search</title>
</head>
<body>

<center>
<p><form method='GET' action='' style="display:inline">
   <input type='text' name='type' placeholder='Type' value='{{request.GET.type}}'/>
   <input type='text' name='area' placeholder='Area' value='{{request.GET.area}}'/>
   <input type='submit' value='Search'/>
</form></p>
	{% for i in menu %}
	<h2>
		<h2>{{i.bar}}</h2>
		<h2 style="display:inline">{{i.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
		<h2 style="display:inline">{{i.price}}  บาท</h2>
	</h2>
		

	{% endfor %}
</center>


</body>
</html>